{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{%block content %}
<html>
    <head>
        <title>About Jerome</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    </head>

  <div class="container">
    <h2>About Me</h2>
    <body>
        <p>I am a student from South San Fracisco High School.
         My favorite classes are Computer Science and Advance PE.</p>
         <img src="static/images/Basketball.jpg" class="img-rounded" alt="Ball" width="304" height="236">
</div>
    </body>
</html>

<div class="container">
  <h2>Hobbies</h2>
  <ul class="list-group">
    <li class="list-group-item">Basketball <span class="badge">1</span></li>
    <li class="list-group-item">PC Videogames <span class="badge">2</span></li>
    <li class="list-group-item">Sleeping <span class="badge">3</span></li>
  </ul>
</div>

</body>
</html>
{% endblock %}

